[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/msilininaceur1506
[access "refs/for/refs/*"]
	read = group user/msilininaceur1506
	push = group user/msilininaceur1506
	label-Code-Review = -2..+2 group user/msilininaceur1506
	label-Verified = -1..+1 group user/msilininaceur1506
	rebase = group user/msilininaceur1506
	removeReviewer = group user/msilininaceur1506
	submit = group user/msilininaceur1506
[access "refs/heads/*"]
	read = group user/msilininaceur1506
	create = group user/msilininaceur1506
	push = +force group user/msilininaceur1506
	pushMerge = group user/msilininaceur1506
[access "refs/tags/*"]
	push = +force group user/msilininaceur1506
	pushTag = group user/msilininaceur1506
	pushSignedTag = group user/msilininaceur1506
[submit]
	action = merge always
