<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview"><a href="#">Mes enquettes</a>
        <ul class="treeview-menu menu-open">
            <li><a href="{{ path('part_homepage') }}">Liste</a></li>
            <li><a href="{{ path('backend_new_enquette') }}">Créer</a></li>
        </ul>
    </li>
</ul>
            