{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_title %}

{% endblock %}

{% block page_subtitle %}

{% endblock %}

{% block avanzu_admin_header %}

{% endblock %}

{% block page_content  %}

{% endblock %}

{% block avanzu_admin_footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong>Copyright &copy; 2016-2017 <a href="http://almsaeedstudio.com">Enquette Studio</a>.</strong> All rights reserved.
        </footer>
    {% endblock %}